*{
    background-color: rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    top: 0;
}

.nav{
    z-index: 100;
    margin-top: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.nav ul{
    padding-left: 10%;
    background-color: rgb(6, 14, 1);
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
}

.nav ul li{
    float: left;
}
.nav ul li:hover{
    background-color: rgb(6, 14, 1);
}

.nav ul li:hover a{
    color: rgb(255, 153, 0);
}
.nav ul li a{
    background-color: rgb(6, 14, 1);
    display: block;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* ini untuk mengatur tampilan conten */

.warpper{
    
    margin-top: 70px;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 5px;
}

img{
    padding-top: 1px;
    width:100% ;
    border-radius: 20px;
}

.box{
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(89, 248, 9);
    margin-bottom: 1%;
    padding: 10px;
    
}
img:hover {
    position:sticky;
    transform: scale(1);
    transition: 1.2s ease-in-out;
    transform: scale(1.1)
    
}

/* .box img{

    position:sticky;
    transform: scale(1);
    transition: 1.2s ease-in-out;
}

.box:hover img{
    transform: scale(1.1);
} */


.footer{
    background-color: black;
}

.footer h4{
    background-color: black;
    text-align: center;
    color: white;

}


